<!---- Sayfanın en altında bulunan genel footer bölümünün kod blokları ---->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..</p>
                <div class="read">
                    <a href="#" class="btn btn-primary read-m">Devamını Oku</a>
                </div>
            </div>

            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <div class="tech-btm">
                    <h3>Son Gönderiler</h3>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-5 blog-grid-left">
                            <a href="#">
                                <img src="/CoreBlogTema/images/2.jpg" class="card-img-top img-fluid" alt="">
                            </a>
                        </div>

                        <div class="col-md-7 blog-grid-right">

                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 20 Jan, 2018
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-5 blog-grid-left">
                            <a href="#">
                                <img src="~/CoreBlogTema/images/3.jpg" class="card-img-top img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-md-7 blog-grid-right">
                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 20 Jan, 2018
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-5 blog-grid-left">
                            <a href="#">
                                <img src="~/CoreBlogTema/images/4.jpg" class="card-img-top img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-md-7 blog-grid-right">
                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 20 Jan, 2018
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>E-posta Listesine Abone Olun</h2>
                <div class="subscribe-main text-left">
                    <div class="subscribe-form">
                        <form action="#" method="post" class="subscribe_form">
                            <input class="form-control" type="email" placeholder="E-posta:" required="">
                            <button type="submit" class="btn btn-primary submit">Abone Ol</button>
                        </form>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!-- //subscribe -->
            </div>
        </div>

        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="https://facebook.com/onat2016" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="https://instagram.com/onat2016" target="_blank">
                                <i class="fab fa-instagram"></i>
                                <span>İnstagram</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="https://github.com/OnatSoft" target="_blank">
                                <i class="fab fa-github"></i>
                                <span>Github</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="https://www.linkedin.com/in/onatsoft/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                                <span>Linkedin</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © @DateTime.Now.Year | Made By Onat Somer
                </p>
            </div>
        </div>
        <!-- //footer -->

    </div>
</footer>