<!---- Menülerin ve Arama Kutusu bölümünün üstünde bulunduğu bölüm. Burası Logo ve Siteye Giriş işlemleri vardır. ---->

<div class="top-bar_sub_w3layouts container-fluid">
    <div class="row">
        <div class="col-md-4 logo text-left">
            <a class="navbar-brand" href="/Writer/Index">
                <i class="fab fa-linode"></i> BLOGSTER
            </a>
        </div>
        <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
            <span>Hoşgeldin Onat</span>
            <span class="mx-lg-4 mx-md-2  mx-1">
                <a href="/Login/Index">
                    <i class="fas fa-lock"></i> Giriş Yap
                </a>
            </span>
            <span>
                <a href="/Register/Index">
                    <i class="far fa-user"></i> Kayıt Ol
                </a>
            </span>
        </div>

        <div class="col-md-4 log-icons text-right">

            <ul class="social_list1 mt-3">

                <li>
                    <a href="https://facebook.com/onat2016" target="_blank" class="facebook1 mx-2">
                        <i class="fab fa-facebook-f"></i>

                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/onat2016" target="_blank" class="twitter2">
                        <i class="fab fa-instagram"></i>

                    </a>
                </li>
                <li>
                    <a href="https://github.com/OnatSoft" target="_blank" class="dribble3 mx-2">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/onatsoft/" target="_blank" class="pin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>