<!---- Menülerin ve Arama Kutusu bölümünün üstünde bulunduğu bölüm. Burası Logo ve Siteye Giriş işlemleri vardır. ---->

<div class="top-bar_sub_w3layouts container-fluid">
    <div class="row">
        <div class="col-md-4 logo text-left">
            <a class="navbar-brand" href="/Writer/Index">
                <i class="fab fa-linode"></i> BLOGSTER
            </a>
        </div>
        <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
            <span>Hoşgeldin </span>
            <span class="mx-lg-4 mx-md-2  mx-1">
                <a href="/Login/AdminIndex">
                    <i class="fas fa-lock"></i> Oturum Aç
                </a>
            </span>
            <span>
                <a href="/RegisterUser/Index">
                    <i class="far fa-user"></i> Kayıt Yap
                </a>
            </span>
        </div>
    </div>
</div>