@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr_TR">                       <!---- Blog kullanıcı tasarım (User Layout) Sayfası ---->

<head>
    <title> Blogster </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="~/CoreBlogTema/images/favicon.ico" rel="shortcut icon" />
    <link href="~/CoreBlogTema/images/favicon.ico" rel="apple-touch-icon" />
    <link href="~/CoreBlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/CoreBlogTema/css/single.css">
    <link href="~/CoreBlogTema/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
    <!--Header-->

    <header>
        @await Html.PartialAsync("LoginPartial")  <!--- UI Katmanı > Views > Shared Klasörü içinde --->
        @await Html.PartialAsync("NavbarPartial")  <!--- Oluşturulan partial sayfasını ilgili sayfaya çağırmanın Birinci yolu partial ismini yazmak --->
    </header>

    @RenderBody()

    @await Html.PartialAsync("FooterPartial")

    <script src="~/CoreBlogTema/js/jquery-2.2.3.min.js"></script>
    <script src="~/CoreBlogTema/js/move-top.js"></script>
    <script src="~/CoreBlogTema/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                            containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                        };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <script src="~/CoreBlogTema/js/bootstrap.js"></script>
</body>
</html>