
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr_TR">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blogster Projesi - Yazar Paneli</title>

    <link rel="stylesheet" href="~/WriterPanel/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/WriterPanel/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/WriterPanel/assets/css/style.css">
    <link rel="shortcut icon" href="~/WriterPanel/assets/images/favicon.ico" />
    <link rel="apple-touch-icon" href="~/WriterPanel/images/favicon.ico" />

</head>

<body>
    <div class="container-scroller">
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo">
                    @*<img src="~/WriterPanel/assets/images/logo.svg" alt="logo" />*@
                    <h2>BLOGSTER</h2>
                </a>
                <a class="navbar-brand brand-logo-mini"><img src="~/WriterPanel/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>

            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="search-field d-none d-md-block">
                    <form class="d-flex align-items-center h-100" action="#">
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <i class="input-group-text border-0 mdi mdi-magnify"></i>
                            </div>
                            <input type="text" class="form-control bg-transparent border-0" placeholder="Blog Arama...">
                        </div>
                    </form>
                </div>

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                                <img src="~/WriterPanel/assets/images/faces/face21.jpg" alt="image">
                                <span class="availability-status online"></span>
                            </div>
                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">Onat Somer</p>
                            </div>
                        </a>

                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-account-details mr-2 text-success"></i> Profil
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-settings mr-2 text-success"></i> Ayarlar
                            </a>
                        </div>
                    </li>

                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>

                    <!--***********************************************************************************************************************************-->
                    <li class="nav-item dropdown">

                        @await Component.InvokeAsync("WriterMessageNotification")
                    </li>

                    <!--*****************************************************************************************************************************-->
                    <li class="nav-item dropdown">

                        @await Component.InvokeAsync("WriterNotification")
                    </li>

                    <!--***********************************************************************************************************************************-->
                    <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-format-line-spacing"></i>
                        </a>
                    </li>
                </ul>

                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <!--**********************************************************************************************************************************************-->
        <div class="container-fluid page-body-wrapper">

            @await Html.PartialAsync("~/Views/Writer/WriterNavbarPartial.cshtml")

            <div class="main-panel">
              
                    @RenderBody()
                
                    <footer class="footer">
                        <div class="container-fluid clearfix">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">© @DateTime.Now.Year Blogster Tüm Hakları Saklıdır.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://www.youtube.com/playlist?list=PLKnjBHu2xXNNkinaVhPqPZG0ubaLN63ci" target="_blank">ASP.Net Core 5 Blog Proje Kampı Dersleri</a></span>
                        </div>
                    </footer>
            </div>

        </div>
    </div>

    <script src="~/WriterPanel/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/WriterPanel/assets/js/off-canvas.js"></script>
    <script src="~/WriterPanel/assets/js/hoverable-collapse.js"></script>
    <script src="~/WriterPanel/assets/js/misc.js"></script>
    <script src="~/WriterPanel/assets/js/dashboard.js"></script>
    <script src="~/WriterPanel/assets/js/todolist.js"></script>
</body>
</html>