
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yazar Profili</title>
</head>
<body>
    <h3>Burası Yazar Profili Sayfası</h3>
</body>
</html>
