<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item nav-profile">
            <a href="#" class="nav-link" title="Profilim">
                <div class="nav-profile-image">
                    <img src="~/WriterPanel/assets/images/faces/face21.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Onat Somer</span>
                    <span class="text-secondary text-small">Site Yöneticisi - Developer</span>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index">
                <span class="menu-title"> Panelim </span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogListByWriter">
                <span class="menu-title"> Bloglarım </span>
                <i class="mdi mdi-format-list-bulleted-type menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogAdd">
                <span class="menu-title"> Yeni Blog </span>
                <i class="mdi mdi-blogger menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="menu-title"> Mesajlar </span>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterEditProfile">
                <span class="menu-title"> Profilim </span>
                <i class="mdi mdi-account menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterEditProfile">
                <span class="menu-title"> Ayarlar </span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterAdd">
                <span class="menu-title"> Profil Resmi Kaydetme </span>
                <i class="mdi mdi-account-arrow-right menu-icon"></i>
            </a>
        </li>

        <li class="nav-item sidebar-actions">
            <span class="nav-link">
                <a href="/Blog/Index" target="_blank" class="btn btn-block btn-primary mt-0"> Siteye Git  <i class="mdi mdi-earth"></i></a>

            </span>
        </li>

    </ul>
</nav>