@using EntityLayer.Concreate
@model List<Message2>
<!----------*************************** Burası Yazar Panelinde Giden kutusu View Sayfası ******************************---------->

@{
    ViewData["Title"] = "Sendbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2> Giden Kutusu </h2>
                <br />
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" style="width:100%; height: auto;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Alıcı</th>
                                <th>Konu</th>
                                <th>Gönderim Tarihi</th>
                                <th>Mesaj İçeriği</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>@item.ID</th>
                                    <td>@item.ReceiverWriter.Name</td>
                                    <td>@item.Subject</td>
                                    <td>@item.MessageDate.ToShortDateString()</td>
                                    <td><a href="/Message/MessageDetails/@item.ID" class="btn btn-link"> Mesajı Oku </a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>