
@{
    Layout = null;
}


<html lang="tr_TR">
<head>
    <title>Sayfa Bulunamadı! | Blogster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link rel="stylesheet" href="~/CoreErrorPage/css/style.css" type="text/css" media="all" />
    <link href="~/CoreErrorPage/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreErrorPage/css/font-awesome.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/AdminPanel/img/favicon.ico" />
    <link rel="apple-touch-icon" href="~/AdminPanel/img/favicon.ico" />
</head>

<body>
    <section class="w3l-error-61-404">
        <div class="error-61-mian">
            <div class="wrapper">
                <div class="errors-16-top">
                    <div class="errors-16-info">
                        <h3>404</h3>

                        <p>Aradığın Sayfayı Maalesef Bulamadık!</p>
                        @*<form action="#" method="post" class="d-flex error-page-form">
                            <input type="search" placeholder="Ne Arıyorsun..." required>
                            <button type="submit"><span class="fa fa-search"></span></button>
                        </form>*@

                        <div class="social-coming-icons">
                            <a href="https://www.facebook.com/onat2016/" title="Facebook" target="_blank" class="footer-fb">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                            <a href="https://www.instagram.com/onat2016" title="İnstagram" target="_blank" class="footer-tw">
                                <span class="fa fa-instagram" aria-hidden="true"></span>
                            </a>
                            <a href="https://www.github.com/OnatSoft" title="Github" target="_blank" class="footer-gg">
                                <span class="fa fa-github" aria-hidden="true"></span>
                            </a>
                            <a href="https://www.linkedin.com/in/onatsoft" title="Linkedin" target="_blank" class="footer-lin">
                                <span class="fa fa-linkedin"></span>
                            </a>

                        </div>
                        <br />
                        <a class="btn btn-outline-light mt-3" href="/Blog/Index">Ana Sayfaya Dön <i class="fa fa-arrow-left"></i></a>

                    </div>
                </div>

                <div class="copyright-footer">
                    <div class="copy-right">
                        <p>
                            @DateTime.Now.Year Blogster Tüm Hakları Saklıdır. | Made By <a href="https://linktr.ee/onatt2645" target="_blank">Onat Somer</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>