
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr_TR">

<head>
    <title>Sayfa Bulunamadı! | Hata</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Bicycle Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!--/Style-CSS -->
    <link rel="stylesheet" href="~/CoreErrorPage/css/style.css" type="text/css" media="all" />
    <link href="~/CoreErrorPage/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!--//Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="~/CoreErrorPage/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
</head>

<body>
    <section class="w3l-error-61-404">
        <!-- /error-61-section -->
        <div class="error-61-mian">
            <div class="wrapper">
                <div class="errors-16-top">
                    <div class="errors-16-info">
                        <h3>404</h3>

                        <p>Ooops! Aradığın Sayfa Bulunamadı!</p>
                        <form action="#" method="post" class="d-flex error-page-form">
                            <input type="search" placeholder="Ne Arıyorsun..." required>
                            <button type="submit"><span class="fa fa-search"></span></button>
                        </form>

                        <div class="social-coming-icons">
                            <a href="#" title="Facebook" class="footer-fb">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                            <a href="#" title="Twitter" class="footer-tw">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                            <a href="#" title="Google Plus" class="footer-gg">
                                <span class="fa fa-google-plus" aria-hidden="true"></span>
                            </a>
                            <a href="#" title="Linkedin" class="footer-lin">
                                <span class="fa fa-linkedin"></span>
                            </a>

                        </div>
                        <br />
                        <button class="btn btn-secondary mb-2" href="/Index/Blog">Ana Sayfaya Dön</button>

                    </div>
                </div>

                <div class="copyright-footer">
                    <div class="copy-right">
                        <p>
                            © @DateTime.Now.Year ASP.Net Core 5.0 Blog Projesi. Tüm Hakları Saklıdır! | Designed by
                            <a href="Javascript:void">Onat Somer</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>    <!-- //error-61-section -->
    </section>
    
</body>
</html>