@using EntityLayer.Concreate
@model List<Writer>

<!--******************* Yazar Paneli Ana sayfasında "Blog Resimleri ve Yazar Hakkında" View Component Bölümü *******************-->
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Blog Resimleri ve Yazar Hakkında </h4>

                <div class="row mt-3">
                    <div class="col-5 pr-1">
                        <img src="~/WriterPanel/assets/images/dashboard/1.jpg" class="mb-2 mw-100 w-100 rounded" alt="blogİmage" title="C# ile Döngüler" />
                        <img src="~/WriterPanel/assets/images/dashboard/3.jpg" class="mb-2 mx-100 w-100 rounded" alt="blogİmage" title="DevExpress Araçları 1" />
                    </div>
                    <div class="col-5 pr-1">
                        <img src="~/WriterPanel/assets/images/dashboard/2.jpg" class="mb-2 mw-100 w-100 rounded" alt="blogİmage" title="C# ile Asenkron Methodlar" />
                        <img src="~/WriterPanel/assets/images/dashboard/5.jpg" class="mb-2 mx-100 w-100 rounded" alt="blogİmage" title="DevExpress Araçları 1" />
                    </div>
                </div>

                @foreach (var item in Model)
                {
                    <div class="d-flex mt-5 align-items-top">
                        <img src="@item.İmage" class="img-sm rounded-circle mr-3" alt="image">
                        <div class="mb-0 flex-grow">
                            <h5 class="mr-2 mb-2"> @item.Name - @item.EMail </h5>
                            <p class="mb-0 font-weight-light"> @item.About </p>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>