
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası .Net Core Kampında oluşturduğumuz sayfadır.</h3>

<table>

    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Onat</td>
        <td>Somer</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Fatma</td>
        <td>Demir</td>
        <td>Analist</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Murat</td>
        <td>Dörtyol</td>
        <td>Programlama</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Mehmet</td>
        <td>Taşdemir</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Deniz</td>
        <td>Yağlıoğlu</td>
        <td>Pazarlama</td>
    </tr>

</table>