
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!-----********************************** Burası Admin Paneli Ana Sayfası ************************************----->


<h1>Index</h1>

