<!--- Blog detay sayfasını daha iyi, kolay yönetebilmek için Yorumlar ve Yorum Ekleme kısımlarını bölümlere ayırdık.
      Burası Yorum Ekleme Kısmı --->

<div class="comment-top">
    <h4>Bir Yorum Yazın</h4>
    <div class="comment-bottom">

        <form action="/Comment/PartialAddComment" method="post">
            <input class="form-control" type="text" name="UserName" placeholder="Adı Soyadı" required="">

            <textarea class="form-control" name="Content" cols="6" rows="6" placeholder="Yorumunuz..." required=""></textarea>

            <button type="submit" class="btn btn-outline-primary mb-3">Yorum Yap</button>
        </form>

    </div>
</div>