<!--- Blog detay sayfasını daha iyi, kolay yönetebilmek için Yorumlar ve Yorum Ekleme kısımlarını bölümlere ayırdık.
      Burası Yorum Ekleme Kısmı --->

<div class="comment-top">
    <h4>Bir Yorum Yazın</h4>
    <div class="comment-bottom">

        <form action="/Comment/PartialAddComment/" method="post">
            <input class="form-control" type="text" name="UserName" placeholder="Adı Soyadı" required="">

            <input class="form-control" type="email" name="Mail" placeholder="E-posta">

            <textarea class="form-control" name="Content" cols="6" rows="6" placeholder="Yorumunuz..." autofocus required=""></textarea>

            <button type="submit" class="btn btn-info mb-3">Yorum Yap</button>
            <i>  E-posta adresiniz yorumlarda yayınlanmayacaktır.</i>
        </form>

    </div>
</div>