
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Excel Blog Listesi</h2>
<br />
<a href="/Admin/Blog/StaticExportExcelBlogList" class="btn btn-success p-md-2"> Blog Listesini İndir </a>
