
@{
    ViewData["Title"] = "BlogListExcelDynamic";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Blog Listesini İndirme Sayfası</h2>
<br />
<p style="font-size: 15px;">Blog listesini Microsoft Excel formatında görüntülemek ve indirmek için aşağıdaki butona tıklayınız.</p>
<a href="/Admin/Blog/DynamicExportExcelBlogList" class="btn btn-success p-md-2"> Blog Listesini İndir </a>
