@model IEnumerable<EntityLayer.Concreate.Blog>

@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr_TR">

<body>
    <!--************************ Blogların Detay/İçerik Sayfası ****************************-->
    
    <section class="banner-bottom">
        <!--/blog-->
        <div class="container">
            <div class="row">
                <!----- Blog Ana Bölüm Başlangıç ----->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    @foreach (var item in Model)
                    {
                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <img src="~/CoreBlogTema/images/b1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-user"></i> @item.Auth
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i> @(((DateTime)item.CreateDate).ToString("dd.MM.yyyy"))
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-thumbs-up"></i> 0 Beğeni
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-comment"></i> 0 Yorum
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <h3>@item.Title</h3>
                            <p>@item.Content</p>
                        </div>
                    }

                    @await Component.InvokeAsync("CommentListByBlog", new { id = ViewBag.i })  <!--- Yorumları id ile listeleyen sayfayı çağırma ve Tıklanan bloğa göre yorumları getirme --->

                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")  <!--- Oluşturulan partial sayfasını ilgili ana index sayfasına çağırmanın İkinci yolu dosya yolunu yazmak --->
                </div>

                <!----- Blog Ana Bölüm Bitiş ----->
                <!----- Sağ taraf Başlangıç ----->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        
                        @await Html.PartialAsync("~/Views/Newsletter/SubscribeMail.cshtml")  <!--- Bültene Abone Olma kısmının sayfası çağrılıyor --->

                        <!-- Mini Kategoriler listesi Başlangıç -->
                        @await Component.InvokeAsync("CategoryList")  <!--- View Components > Blog Category List klasörü içindeki CategoryList Class'ı' çağrılıyor --->
                        <!-- Mini Kategoriler listesi Bitiş -->
                        
                        @await Component.InvokeAsync("WriterByBlog")  <!-- Shared klasöründe ki WriterByBlog sayfası çağrılıyor, Yazarın son Bloglarını getirme -->

                        <div class="single-gd tech-btm">
                            <h4>Son Yazılan Bloglar</h4>
                            <div class="blog-grids">
                                <div class="blog-grid-left">
                                    <a href="#">
                                        <img src="~/CoreBlogTema/images/b2.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-grid-right">
                                    <h5>
                                        <a href="#">Pellentesque dui, non felis. Maecenas male</a>
                                    </h5>
                                </div>
                                <br />
                                <div class="blog-grid-left">
                                    <a href="#">
                                        <img src="~/CoreBlogTema/images/b3.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-grid-right">
                                    <h5>
                                        <a href="#">Pellentesque dui, non felis. Maecenas male</a>
                                    </h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>

                </aside>  <!----- Sağ taraf Bitiş ----->
            </div>   <!----- Div Class Row ----->
        </div>
    </section>
</body>
</html>