@model IEnumerable<EntityLayer.Concreate.Blog>

@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr_TR">

<body>                 <!----- Blog Detay Sayfası ----->
    <section class="banner-bottom">
        <!--/blog-->
        <div class="container">
            <div class="row">
                <!----- Blog Ana Bölüm Başlangıç ----->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    @foreach (var item in Model)
                    {
                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <img src="~/CoreBlogTema/images/b1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-user"></i> @item.Auth
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i> @(((DateTime)item.CreateDate).ToString("dd.MMM.yyyy"))
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-thumbs-up"></i> 0 Beğeni
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-comment"></i> 0 Yorum
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <h3>@item.Title</h3>
                            <p>@item.Content</p>
                        </div>
                    }

                    @await Component.InvokeAsync("CommentListByBlog", new { id= ViewBag.i })  <!--- Yorumları id ile listeleyen sayfayı çağırma ve Tıklanan bloğa göre yorumları getirme --->

                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")  <!--- Oluşturulan partial sayfasını ilgili ana index sayfasına çağırmanın İkinci yolu dosya yolunu yazmak --->
                </div>

                <!----- Blog Ana Bölüm Bitiş ----->
                <!----- Sağ taraf Başlangıç ----->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="tech-btm">
                            <h4>E-posta Listesine Abone Olun</h4>
                            <p>Bu bloğa abone olarak yeni eklenen yazılardan ilk siz haberdar olursunuz.</p>
                            <form action="#" method="post">
                                <input type="email" placeholder="E-posta:" required="">
                                <input type="submit" value="Abone Ol">
                            </form>

                        </div>
                        <!-- Mini Kategoriler listesi Başlangıç -->
                        @await Component.InvokeAsync("CategoryList")  <!--- View Components > Blog Category List klasörü içindeki Class çağrılıyor --->
                        <!-- Mini Kategoriler listesi Bitiş -->
                        <div class="tech-btm">
                            <h4>Haftanın En Popüler Blogları</h4>

                            <div class="blog-grids row mb-3">
                                <div class="col-md-5 blog-grid-left">
                                    <a href="single.html">
                                        <img src="~/CoreBlogTema/images/1.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7 blog-grid-right">

                                    <h5>
                                        <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                                    </h5>
                                    <div class="sub-meta">
                                        <span>
                                            <i class="far fa-clock"></i> 20 Jan, 2018
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="blog-grids row mb-3">
                                <div class="col-md-5 blog-grid-left">
                                    <a href="single.html">
                                        <img src="~/CoreBlogTema/images/6.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7 blog-grid-right">
                                    <h5>
                                        <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                                    </h5>
                                    <div class="sub-meta">
                                        <span>
                                            <i class="far fa-clock"></i> 20 Feb, 2018
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="single-gd my-5 tech-btm">
                            <h4>Our Progress</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="single-gd tech-btm">
                            <h4>Yazarın Son 2 Blogları</h4>
                            <div class="blog-grids">
                                <div class="blog-grid-left">
                                    <a href="#">
                                        <img src="~/CoreBlogTema/images/b2.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-grid-right">
                                    <h5>
                                        <a href="#">Pellentesque dui, non felis. Maecenas male</a>
                                    </h5>
                                </div>
                                <br />
                                <div class="blog-grid-left">
                                    <a href="#">
                                        <img src="~/CoreBlogTema/images/b3.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-grid-right">
                                    <h5>
                                        <a href="#">Pellentesque dui, non felis. Maecenas male</a>
                                    </h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>

                </aside>  <!----- Sağ taraf Bitiş ----->
            </div>   <!----- Div Class Row ----->
        </div>
    </section>
</body>
</html>