@using EntityLayer.Concreate
@model List<Blog>
<!--***************************************** Burası Yazar Panelinde bloglarım sayfasında Tasarım penceresi ************************************-->
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="content-wrapper">
    <h2>Bloglarım</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Yazar</li>
            <li class="breadcrumb-item active">Bloglarım</li>
        </ol>
    </nav>
    <br />
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Blog Başlığı</th>
                    <th>Oluşturma Tarihi</th>
                    <th>Kategori</th>
                    <th>Durumu</th>
                    <th width="%40" class="text-justify">İşlemler</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.BlogID</th>
                        <td>@item.Title</td>
                        <td>@item.CreateDate.ToShortDateString()</td>
                        <td>@item.Categories.Name</td>
                        <td>
                            @if (item.Status == true)
                            {
                                <label class="badge badge-success">Aktif</label>
                            }
                            else
                            {
                                <label class="badge badge-secondary">Pasif</label>
                            }
                        </td>
                        <td>
                            <a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-gradient-danger mr-xl-3" id="Delete" onclick="return confirm('Seçili blog yazısı her yerden silinecek, onaylıyor musunuz?')">Sil</a>
                            <a href="/Blog/EditBlog/@item.BlogID" class="btn btn-gradient-info mr-xl-3">Düzenle</a>
                        </td>
                    </tr>
                }
                @*<script>
                        $('#Delete').click(function () ){
                            swal({
                                title: "Blog Silme",
                                text: "Seçili olan blog yazısı her yerden silinecek, onaylıyor musunuz?",
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                            }})
                                    .then((willDelete) => {
                                if (willDelete) {
                                    swal("Blog yazısı her yerden başarıyla silindi.", {
                                        icon: "success",
                                    });
                                } else {
                                    swal("Blog yazısı silinmedi.");
                                }
                            });
                    </script>*@

            </tbody>
        </table>
    </div>
    <br />
    <br />
    <a href="/Blog/BlogAdd" class="btn btn-primary mb-sm-0">Yeni Blog Oluştur</a>
</div>