@using EntityLayer.Concreate
@model List<Blog>

<!--***************************************** Burası Yazar Panelinde bloglarım sayfasında Tasarım penceresi ************************************-->
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h2>Bloglarım</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Blog Başlığı</th>
        <th>Oluşturma Tarihi</th>
        <th>Kategori</th>
        <th>Durumu</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.BlogID</th>
            <td>@item.Title</td>
            <td>@item.CreateDate.ToShortDateString()</td>
            <td>@item.Category.Name</td>
            <td>@if (item.Status)
            {
                <span class="badge badge-success">
                    Aktif
                </span>
            }
            else
            {
                <span class="badge badge-secondary">
                    Pasif
                </span>
            }
            </td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-info">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Blog/BlogAdd" class="btn btn-success">Yeni Blog Oluştur</a>