@using EntityLayer.Concreate
@model List<Blog>
<!--***************************************** Burası Yazar Panelinde bloglarım sayfasında Tasarım penceresi ************************************-->
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2>Bloglarım</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Panelim</li>
                        <li class="breadcrumb-item active">Bloglarım</li>
                    </ol>
                </nav>
                <br />
                <a class="btn btn-primary mb-3" href="/Blog/BlogAdd"> Yeni Blog Oluştur </a>
                <br />
                <br />

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Başlık</th>
                                <th>Oluşturma Tarihi</th>
                                <th>Kategori</th>
                                <th>Durum</th>
                                <th class="text-left">İşlemler</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>@item.BlogID</th>
                                    <td>@item.Title</td>
                                    <td>@item.CreateDate.ToShortDateString()</td>
                                    <td>
                                        <label class="badge badge-outline-info">@item.Category.Name</label>
                                    </td>
                                    <td>
                                        @if (item.Status == true)
                                        {
                                            <label class="badge badge-success">Aktif</label>
                                        }
                                        else
                                        {
                                            <label class="badge badge-secondary">Pasif</label>
                                        }
                                    </td>
                                    <td>
                                        <a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger mr-sm-0" onclick="return confirm('Seçili olan bloğu gerçekten silmek istiyor musunuz?')">Sil</a>
                                        <a href="/Blog/EditBlog/@item.BlogID" class="btn btn-info mr-sm-0">Düzenle</a>
                                        <a href="/Blog/BlogDetails/@item.BlogID" class="btn btn-primary mr-sm-0" target="_blank">Sitede Görüntüle</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


@*<script>
    $('#Delete').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI',
            text: "Blog yazısını silmek istediğinizden emin misiniz?",
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Vazgeç'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı',
                    'Seçilen Blog Silindi.',
                    'success'
                )
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
            }
        })
    });
</script>*@