@using EntityLayer.Concreate
@model List<About>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<!--********** Burası Hakkımızda Ana Sayfası **********-->

<!DOCTYPE html>
<html lang="tr_TR">

<body>
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
            <div class="row inner-sec">

                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">
                        @foreach (var item in Model)
                        {
                            <div class="blog_info_left_grid">
                                <img src="@item.İmage1" class="img-fluid" alt="Aboutimage">
                            </div>
                            <h3>
                                Biz Kimiz? - Blogster Hakkında
                            </h3>

                            <p>
                                @item.Content1
                            </p>
                            <p>
                                @item.Content2
                            </p>
                        }
                    </div>
                </div>

                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">

                        <div class="tech-btm">
                            <img src="~/CoreBlogTema/images/b3.jpg" class="img-fluid" alt="Subscribeimage">
                            <h4>Bültene Abone Olun</h4>
                            @await Html.PartialAsync("~/Views/Newsletter/SubscribeMail.cshtml")  <!-- Bültene Abone Olma Partial View'i Hakkımızda sayfasında da çağrılıyor -->
                        </div>

                        @await Html.PartialAsync("~/Views/About/SocialMediaAbout.cshtml")  <!-- Hakkımızda sayfasında ki Sosyal Medya hesapları Partial View'den çağrılıyor -->

                        <div class="tech-btm">
                            @await Component.InvokeAsync("WriterByBlog")  <!-- Yazarın Son Blogları bölümünü Hakkımızda sayfasında da çağrılıyor -->
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </section>
</body>
</html>