<div class="tech-btm widget_social">
    <h4>Bağlantıda Kalın</h4>
    <ul>

        <li>
            <a class="twitter" href="#">
                <i class="fab fa-twitter"></i>
                <span class="count">317</span> Twitter Takipçiler
            </a>
        </li>
        <li>
            <a class="facebook" href="#">
                <i class="fab fa-facebook-f"></i>
                <span class="count">218</span> Facebook Takipçiler
            </a>
        </li>
        <li>
            <a class="bg-dark" href="#">
                <i class="fab fa-github"></i>
                <span class="count">215</span> GitHub Takipçiler
            </a>
        </li>
        <li>
            <a class="pin" href="#">
                <i class="fab fa-instagram"></i>
                <span class="count">190</span> İnstagram Takipçiler
            </a>
        </li>

    </ul>
</div>