<div class="tech-btm widget_social">
    <h4>Bağlantıda Kalın</h4>
    <ul>
        <li>
            <a class="pin" href="https://instagram.com/onat2016" target="_blank">
                <i class="fab fa-instagram"></i>
                <span class="count"></span>İnstagram'da Beğenin
            </a>
        </li>

        <li>
            <a class="facebook" href="https://facebook.com/onat2016" target="_blank">
                <i class="fab fa-facebook-f"></i>
                <span class="count"></span>Facebook'ta Beğenin
            </a>
        </li>
        <li>
            <a class="bg-dark" href="https://github.com/onatsoft" target="_blank">
                <i class="fab fa-github"></i>
                <span class="count"></span>Github'da Takip Edin
            </a>
        </li>
        <li>
            <a class="facebook" href="https://www.linkedin.com/in/onatsoft/" target="_blank">
                <i class="fab fa-linkedin"></i>
                <span class="count"></span>Linkedin'de Takip Edin
            </a>
        </li>
    </ul>
</div>