 


                             <!--*** Bültene Abone Olma bölümünün Partial View sayfası ***-->
<div class="tech-btm">
    
    <p>Abone olarak yeni eklenen bloglardan ilk siz haberdar olursunuz.</p>
    <form action="/Newsletter/SubscribeMail" method="POST">
        <input type="email" placeholder="E-posta:" required="" name="Email">
        <input type="submit" value="Abone Ol">
    </form>

</div>