 


                             <!--*** Bültene Abone Olma bölümünün Partial View sayfası ***-->

<div class="tech-btm">
    <img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="Subscribe_İmage">
</div>
<div class="tech-btm">
    <h4>Bültene Abone Olun</h4>
    <p>Abone olarak yeni eklenen bloglardan ilk siz haberdar olursunuz.</p>

    <form action="/Newsletter/SubscribeMail" method="POST">
        <input type="email" placeholder="E-posta:" required="" name="Email">
        <input type="submit" value="Abone Ol">
    </form>

</div>